html {
	width: 100%;
}

body {
	width: 100%;
}

#container {
	width: 100%;
}

#wrapper {
	width: 06%;
	margin: 0 auto;
}

#hidden-word {
	position: relative;
}

#for-word {
	position: absolute;
	top: 5%;
	left: 20%;
	z-index: 1000;
	height: 300px;
	width: 500px;
	background-color: rgb(50, 50, 50);
}