#image-container {
	position: relative;
	width: 600px;
	margin: 0 auto;
}

#blackDoor {
	display: inline-block;
	position: absolute;
	top: 41%;
	left: 49.3%;
	height: 52px;
	width: 16px;
	z-index: 1000;
}

#blackDoor:hover {
	cursor: pointer;
}

#rightDoor {
	display: inline-block;
	position: absolute;
	top: 5%;
	left: 72%;
	height: 250px;
	width: 25px;
	z-index: 1000;
}

#rightDoor:hover {
	cursor: pointer;
}